/.tools/
/.vs/
/CoreAdo/bin
/CoreAdo/obj
/CoreEfCore/bin
/CoreEfCore/obj
/CoreLinq2db/bin
/CoreLinq2db/obj
/packages
/DotnetAdo/bin
/DotnetAdo/obj
/DotnetEfCore/bin
/DotnetEfCore/obj
/DotnetLinq2db/bin
/DotnetLinq2db/obj
/OrmTestNorthwind/bin
/OrmTestNorthwind/obj
/TestCore/bin
/TestCore/obj
/TestCore/obj
/TestDotnet/bin
/TestDotnet/obj
